services:
    mongo:
        image: mongo
        container_name: mongo_DB
        ports:
          - 27017:27017
        environment:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: qwerty
        volumes:
          - /Users/vinay/docker/docker-Node-App/data:/data/db

    mongo-express:
        image: mongo-express
        container_name: mongo_express
        ports:
          - 8081:8081
        environment:
          ME_CONFIG_MONGODB_ADMINUSERNAME: admin
          ME_CONFIG_MONGODB_ADMINPASSWORD: qwerty
          ME_CONFIG_MONGODB_URL: mongodb://admin:qwerty@mongo:27017/

          # to run this compose file use the command:
          # docker-compose -f compose.yaml up -d



